h1, p {
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
}

.chat-window h1{
  font-family: Lato;
  height: 20%;
  margin: 0;
}

.message-list {
  height: 70%;
  background-color: #ccc;
  overflow: scroll;
}

.msg-input {
  height: 10%;
  width: 80%;
}

.msg-send {
  width: 20%;
  height: 8%;
}